# ---------------------------
# The Pinata JWT var is required to
# upload and pin metadata files to Pinata. Default ('TEST')
# will enable packages to run, but they won't allow you
# to upload and pin files. Create your account on
# https://pinata.cloud and set your own JWT value here.
VITE_PINATA_JWT=
VITE_IPFS_BASE_URL="https://ipfs.io"
VITE_PINATA_BASE_URL="https://api.pinata.cloud"
VITE_PINATA_UPLOAD_URL="https://api.pinata.cloud/pinning/pinFileToIPFS"

# ---------------------------
# The Retrofunding var is requried to fetch data from the retrofunding api
VITE_RETROFUNDING_ENDPOINT="https://api.retrofunding.gitcoin.co"

# ---------------------------
# Alchemy - Optional
# The Alchemy ID var is optional to connect to the Ethereum network. If not set the default rpc will be used.
# Create your account on https://alchemy.com and set your own ID value here.
VITE_ALCHEMY_ID=""

# ---------------------------
# Infura - Optional
# The Infura ID var is optional to connect to the Ethereum network. If not set the default rpc will be used.
# Create your account on https://infura.io and set your own ID value here.
VITE_INFURA_ID=""

# ---------------------------
# Wallet Connect Project ID - REQUIRED
# The Wallet Connect Project ID var is required to connect to the Ethereum network.
# Create your account on https://cloud.walletconnect.org/app and set your own ID value here.
VITE_WALLET_CONNECT_PROJECT_ID=""

# ---------------------------
# Indexer & Data Layer - DEFAULTS SUFFICIENT
# URL of the indexer. http://localhost:8080 for local indexer
VITE_INDEXER_V2_API_URL="https://grants-stack-indexer-v2.gitcoin.co"

# ---------------------------
# Vercel Project URL for SEO
VITE_VERCEL_PROJECT_PRODUCTION_URL=""

# Local port for SEO testing
VITE_PORT="5173"
